<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="css/elementui.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 178px;
            height: 178px;
            line-height: 178px;
            text-align: center;
        }
        .avatar {
            width: 178px;
            height: 178px;
            display: block;
        }
         .el-table{
             font-size: 14px !important;
             margin-bottom: 10px;
         }
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>

<div id="app" style="margin:0px 15px 0px;" v-cloak>
    <el-card>
        <!-- 搜索与添加区域 -->
        <el-form :inline="true" ref="form"  size="mini" label-width="70px">
            <el-form-item>
                <el-input placeholder="请输入商品名称" v-model="searchMap.name" clearable>
                    <el-button slot="append" icon="el-icon-search"  @click="getGoodsList()"></el-button>
                </el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" icon="el-icon-plus" @click="addDialogVisible = true;selectAllCategory();selectAllSpec();addForm={};imageUrl='';specOptionValues=[]">添加</el-button>
            </el-form-item>
        </el-form>

        <el-table
                ref="multipleTable"
                :data="goodsList"
                tooltip-effect="dark"
                style="width: 100%"
                size="mini"
                @cell-click="cellClick"
                :default-sort = "{prop: 'date', order: 'descending'}">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
                    label="#">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="商品名称"
                    width="120"
                    sortable
                    show-overflow-tooltip
            >
            </el-table-column>
            <el-table-column
                    label="图片"
                    width="120"
            >
<!--            <template slot-scope="scope">-->
<!--                <img :src="scope.row.img">-->
<!--            </template>-->
                <template slot-scope="scope">
                    <el-tooltip effect="dark" content="图片详情" placement="top" :enterable="false">
                        <el-button type="primary" icon="el-icon-picture-outline" size="mini" @click="showGoodsDialog(scope.row.img)"></el-button>
                    </el-tooltip>
                </template>

            </el-table-column>
            <el-table-column
                    prop="introduction"
                    label="简介"
                    width="120"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    prop="price"
                    label="价格"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="freight"
                    label="运费"
                    width="120"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="categoryName"
                    label="分类"
                    width="120"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="stock"
                    label="库存"
                    width="120"
                    sortable>
            </el-table-column>
<!--            <el-table-column-->
<!--                    prop="spec"-->
<!--                    label="规格"-->
<!--                    width="120"-->
<!--                    sortable-->
<!--                    show-overflow-tooltip-->
<!--            >-->
            </el-table-column>
            <el-table-column
                    prop="sales"
                    label="销量"
                    width="120"
                    sortable>
            </el-table-column>
            <el-table-column
                    prop="statusName"
                    label="状态"
                    width="120"
                    >
            </el-table-column>
            <el-table-column
                    prop="created"
                    label="创建时间"
                    width="120"
                    sortable
                    show-overflow-tooltip
            >
            </el-table-column>
            <el-table-column
                    prop="updated"
                    label="修改时间"
                    width="120"
                    sortable
                    show-overflow-tooltip
            >
            </el-table-column>
            <el-table-column label="操作" width="180px">
                <template slot-scope="scope">
                    <!-- 编辑 -->
                    <el-tooltip effect="dark" content="编辑信息" placement="top" :enterable="false">
                        <el-button type="primary" icon="el-icon-edit" size="mini" @click="showEditDialog(scope.row.id);selectAllCategory();selectAllSpec();"></el-button>
                    </el-tooltip>
                    <!-- 删除按钮 -->
                    <el-tooltip effect="dark" content="删除信息" placement="top" :enterable="false">
                        <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeGeneralById(scope.row.id)"></el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
        </el-table>

        <!-- 分页区域 -->
        <el-pagination @size-change="getGoodsList"
                       @current-change="getGoodsList"
                       :current-page.sync="currentPage"
                       :page-sizes="[1, 4, 8, 10]"
                       :page-size="size"
                       layout="total, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>

        <!-- 添加商品的对话框 -->
        <el-dialog title="添加商品" :visible.sync="addDialogVisible" width="50%" @close="addDialogClosed">
            <!-- 内容主体区域 -->
            <el-form :rules="addFormRules" ref="addFormRef" label-width="70px">
                <el-form-item label="商品名称" >
                    <el-input v-model="addForm.name"></el-input>
                </el-form-item>
                <el-form-item label="图片" >
                    <el-upload
                            class="avatar-uploader"
                            action="/upload/native.do"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>

                </el-form-item>
                <el-form-item label="简介" >
                    <el-input v-model="addForm.introduction"></el-input>
                </el-form-item>

                <el-form-item label="价格" >
                    <el-input v-model="addForm.price"></el-input>
                </el-form-item>
                <el-form-item label="运费" >
                    <el-input v-model="addForm.freight"></el-input>
                </el-form-item>
                <el-form-item label="分类" >
                    <el-select v-model="addForm.categoryId" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="规格" >
                    <el-select v-model="specOptionValues" multiple placeholder="请选择">
                        <el-option
                                v-for="item in specOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="库存" >
                    <el-input v-model="addForm.stock"></el-input>
                </el-form-item>
            </el-form>
            <!-- 底部区域 -->
            <span slot="footer" class="dialog-footer">
        					<el-button @click="addDialogVisible = false">取 消</el-button>
        					<el-button type="primary" @click="saveGoods">确 定</el-button>
      					</span>
        </el-dialog>

        <!-- 修改信息的对话框 -->
        <el-dialog title="修改商品信息" :visible.sync="editDialogVisible" width="50%" @close="editDialogClosed">
            <!-- 内容主体区域 -->
            <el-form :rules="editFormRules" ref="editFormRef" label-width="70px">
                <el-form-item label="商品名称" >
                    <el-input v-model="editForm.name"></el-input>
                </el-form-item>
                <el-form-item label="图片" >
                    <el-upload
                            class="avatar-uploader"
                            action="/upload/native.do"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>

                </el-form-item>
                <el-form-item label="简介" >
                    <el-input v-model="editForm.introduction"></el-input>
                </el-form-item>

                <el-form-item label="价格" >
                    <el-input v-model="editForm.price"></el-input>
                </el-form-item>
                <el-form-item label="运费" >
                    <el-input v-model="editForm.freight"></el-input>
                </el-form-item>
                <el-form-item label="分类" >
                    <el-select v-model="editForm.categoryId" placeholder="请选择">
                        <el-option
                                v-for="item in options"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="规格" >
                    <el-select v-model="editFormspecOptionValues" multiple placeholder="请选择">
                        <el-option
                                v-for="item in specOptions"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="库存" >
                    <el-input v-model="editForm.stock"></el-input>
                </el-form-item>
            </el-form>
            <!-- 底部区域 -->
            <span slot="footer" class="dialog-footer">
        					<el-button @click="editDialogVisible = false">取 消</el-button>
        					<el-button type="primary" @click="updateGoods">确 定</el-button>
      					</span>
        </el-dialog>
        <!-- 查看信息的对话框 -->
        <el-dialog title="商品图片" :visible.sync="showDialogVisible" width="50%" @close="showDialogClosed">
            <img :src="imageUrl">
            <span slot="footer" class="dialog-footer">

        					<el-button @click="showDialogVisible = false">关闭</el-button>
      					</span>
        </el-dialog>
    </el-card>

</div>
</body>

<!-- 引入组件库 -->
<script src="js/vue.js"></script><!-- vue -->

<script src="js/elementui.js"></script>

<script src="js/axios.js"></script>

<script type="text/javascript" src="plugins/layui/layui.js"></script>

<script>
    new Vue({
        el: '#app',
        // router,
        data() {

            return {

                // 获取党总支列表的参数对象
                searchMap: {},
                currentPage:1,
                //每页大小
                size:10,
                //总数
                total: 10,
                options: [],//下拉选择内容
                categoryOptionValue:'',
                specOptions: [],
                specOptionValues:[],
                editFormspecOptionValues:[],
                goodsList: [],

                // 控制修改党总支对话框的显示与隐藏
                editDialogVisible: false,
                // 查询到的党总支信息对象
                editForm: {},
                // 控制添加党总支对话框的显示与隐藏
                id2:"",
                addDialogVisible: false,
                showDialogVisible:false,
                // 添加商品的表单数据
                addForm: {},
                images:'https://m.360buyimg.com/mobilecms/s720x720_jfs/t1/4612/28/6223/298257/5ba22d66Ef665222f/d97ed0b25cbe8c6e.jpg!q70.jpg.webp',
                imageUrl:'',
                //图片地址与实体没有关系，他是单独上传
                loginUserId:'',
                goodNum:'',

            }
        },
        created() {
            // this.selectSpec("1");
            this.getLoginUser();
            this.getGoodsList();
            this.goodsNum();
            // this.selectAllSpec();
        },
        methods: {
            goodsNum(){
                axios.get(`/goods/total.do?storeId=${this.loginUserId}`).then(response=>{
                    this.goodNum = response.data;
                });
            },
            getLoginUser(){
                this.info =JSON.parse(window.sessionStorage.getItem("userInfo"));
                if (this.info!=null){
                    this.loginUserId = this.info.id;
                }
            },
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            showGoodsDialog(img){
                this.imageUrl = img;
                this.showDialogVisible = true
            },
            saveGoods(){
                this.addForm.img=this.imageUrl;
                let spec = this.specOptionValues.toString();
                axios.post(`/goods/add.do?spec=${spec}&storeId=${this.loginUserId}`,this.addForm).then(response=>{
                    this.$message.success('添加成功');
                    this.addDialogVisible=false;
                    this.getGoodsList();
                })
            },
            updateGoods(){
                this.editForm.img=this.imageUrl;
                let spec = this.editFormspecOptionValues.toString();
                axios.post(`/goods/update.do?spec=${spec}`,this.editForm).then(response=>{
                    this.$message.success('修改成功');
                    this.editDialogVisible=false;
                    this.getGoodsList();
                    //清空
                })
            },
            // 展示编辑党总支的对话框
            selectSpec(id){
                axios.get(`/goods/findSpec.do?id=${id}`).then(response=>{
                    // alert(JSON.stringify(response))
                    this.editFormspecOptionValues = response.data;
                    // alert(this.specOptionValues);
                });
            },
            showEditDialog(id) {
                this.id2 = id;
                this.editDialogVisible = true;
                axios.get(`/goods/findById.do?id=${id}`).then(response=>{
                    this.editForm = response.data;
                    this.imageUrl=this.editForm.img;
                })
                // alert(this.id2);
                this.selectSpec(this.id2);
            },
            selectAllCategory(){
                axios.get('/category/findAll.do').then(response=>{
                    this.options = response.data;
                });
            },
            selectAllSpec(){
                axios.get('/spec/findAll.do').then(response=>{
                    this.specOptions = response.data;
                });
            },
            getGoodsList() {
                axios.post(`/goods/sfindPage.do?page=${this.currentPage}&size=${this.size}&storeId=${this.loginUserId}`,this.searchMap).then(response => {
                    this.goodsList = response.data.rows;
                    this.total = response.data.total;
                })
            }
                ,
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            // 监听修改党总支对话框的关闭事件
            editDialogClosed() {
                this.$refs.editFormRef.resetFields()
            },
            // 点击按钮，添加新党总支
            addGeneral() {
                this.$refs.addFormRef.validate(async valid => {
                    if (!valid) return
                    // 可以发起添加党总支的网络请求

                    this.$message.success('添加党总支成功！')
                    // 隐藏添加党总支的对话框
                    this.addDialogVisible = false
                    // 重新获取党总支列表数据
                    this.getGoodsList()
                })
            },
            // 监听添加党总支对话框的关闭事件
            addDialogClosed() {
                this.$refs.addFormRef.resetFields()
            },
            // 监听查看信息对话框的关闭事件
            showDialogClosed() {
                //this.$refs.addFormRef.resetFields()
            },

            // 修改党总支信息并提交
            editGeneralInfo() {
                this.$refs.editFormRef.validate(async valid => {
                    if (!valid) return
                    // 发起修改党总支信息的数据请求

                    // 关闭对话框
                    this.editDialogVisible = false
                    // 刷新数据列表
                    this.getGoodsList()
                    // 提示修改成功
                    this.$message.success('更新商品信息成功！')
                })
            },
            // 根据Id删除对应的商品信息
            async removeGeneralById(id) {
                // 弹框询问党总支是否删除数据
                const confirmResult = await this.$confirm(
                    '此操作将永久删除该商品, 是否继续?',
                    '提示',
                    {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }
                ).catch(err => err)

                // 如果党总支确认删除，则返回值为字符串 confirm
                // 如果党总支取消了删除，则返回值为字符串 cancel
                // console.log(confirmResult)
                if (confirmResult !== 'confirm') {
                    return this.$message.info('已取消删除')
                }

                //此处向后台发请求进行删除
                axios.get(`/goods/delete.do?id=${id}`).then(response=>{
                    this.addDialogVisible=false;
                    this.getGoodsList();
                })
                this.$message.success('删除商品成功！')
                this.getGoodsList()
            },
            //单元格被点击
            cellClick(row, column, cell, event) {
                if (column.label != '操作'){
                    parent.tab.tabAdd({
                        href: 'general-party.html?'+row.id, //传党总支id过去
                        icon: 'fa-address-book',
                        title: '党总支详情'
                    });

                }else {
                    return
                }
            }
        }
    })
</script>


</html>